img{
  width: 1178px;
  height:2563px;
}
@media (max-width: 480px) {
  img {
    background-image: url(fletushka_shqip.jpg);
    background-repeat: no-repeat;
    background-size: contain ;
  }
}
